/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* my styles */

body {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: fit-content;
}

header {
  padding: 20px 60px;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: #f9faf8;
  font-size: 24px;
  background-color: #1f2937;
}

cite {
  padding-left: 600px;
  font-style: bolder;
  font-size: 24px;
}

li a {
  text-decoration: none;
  color: #e5e7eb;
}

ul.header-list {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  gap: 20px;
  font-size: 18px;
}

.hero {
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  padding: 40px 60px;
  justify-content: space-evenly;
  width: auto;
  gap: 40px;
  width: -webkit-fill-available;
}

div.hero-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  gap: 20px;
  padding-right: 20px;
  justify-content: space-around;
  align-items: baseline;
  min-width: 25%;
  width: fit-content;
  max-width: 45%;
  flex: 1 1 auto;
}

div.image-container {
  justify-content: center;
  flex-basis: content;
  flex: 1 1 auto;
  justify-self: center;
  width: fit-content;
  max-width: 45%;
  min-width: 25%;
  float: right;
}

img.hero-img {
  width: 100%;
  border: 4px solid navy;
  border-radius: 15px;
  ;
}

h1.title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

p.hero-text {
  font-size: 18px;
  color: #e5e7eb;
}

div.image-section {
  background-color: #f9faf8;
  padding: 20px 60px;
}

div.image-section h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
  padding-top: 20px;
}

div.image-section p {
  color: #1f2937;
  font-size: 18px;
}

section.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 50px;
  align-content: center;
  justify-content: space-around;
  padding: 20px 60px;
  text-align: justify;
  width: 82%;
}

div.card img {
  height: auto;
  width: 150px;
  border: 3px solid blue;
  border-radius: 9px;
  min-width: 100%;
}

div.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

div.quote-section {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  color: #1f2937;
  margin: auto;
  text-align: center;
  align-items: flex-end;
  padding: 60px;
  justify-content: space-around;
  align-content: space-around;
}

div.quote-section p {
  text-align: justify;
  font-style: italic;
  font-size: 36px;
  font-weight: lighter;
  line-height: normal;
}

button.hero-btn {
  background-color: #3882fe;
  color: #f9faf8;
  font-size: 18px;
  border-radius: 9px;
  padding: 10px 30px;
  text-align: center;
}

div.signup-section {
  padding: 60px 120px;
  background-color: #f9faf8;
}

p.signup-text,
h3.signup-title {
  color: hsl(90, 17%, 98%);
}

h3.signup-title {
  font-size: 24px;
}

div.signup-container {
  display: flex;
  background-color: #3882fe;
  padding: 30px 60px;
  gap: 20px;
  align-items: stretch;
  justify-content: space-between;
  border-radius: 9px;
}

section.signup-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-content: stretch;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
}

button.signup-btn {
  background-color: #3882fe;
  color: #f9faf8;
  font-size: 18px;
  border-radius: 9px;
  padding: 10px 30px;
  text-align: center;
  border: 2px solid #f9faf8;
}

footer {
  padding: 20px 0;
  margin-top: auto;
  text-align: center;
  background-color: #1f2937;
  color: #f9faf8;
}